:root {
    --main-font-color: #969696;
    --body-background: #e5e5e5;
    --light-font-color: black;
    --dark-font-color: white;
    --light-bg-color: white;
    --dark-bg-color: black;
    --light-border-color: black;
}

body {
    color: var(--main-font-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--body-background);
}

.ui_container {
    margin-top: 10px;
    background-color: #f2f2f2;
    height: 80vh;
    padding: 2rem 4rem;
    border-radius: 5px;
}

.container {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

.ui_container_navigation {
    width: 1440;
    height: 500;
    margin-top: 10px;
    background-color: #f2f2f2;
    height: 80vh;
    border-radius: 5px;
    margin: 0px auto;
}

.ui_container_hero {
    width: auto;
    height: 2180px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.ui_container_grid_column {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    color: black;
    grid-row-gap: 1rem; /* https://www.shecodes.io/athena/39741-how-to-change-the-gap-between-one-specific-row-in-css-grid-layout#:~:text=in%205.61%20seconds-,To%20change%20the%20gap%20between%20only%20one%20specific%20row%20in,to%20specify%20the%20selected%20row.&text=This%20sets%20up%20a%20parent,20px%20between%20each%20of%20them. */
    grid-template-areas: 
        "sp_6_circles"
        "sp_5_rectangles"
        "sp_1_circle";
}

