:root {
    --main-font-color: #969696;
    --body-background: #e5e5e5;
    --light-font-color: black;
    --dark-font-color: white;
    --light-bg-color: white;
    --dark-bg-color: black;
    --light-border-color: black;
}

body {
    color: var(--main-font-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--body-background);
}

.ui_container {
    margin-top: 10px;
    background-color: #f2f2f2;
    height: 80vh;
    padding: 2rem 4rem;
    border-radius: 5px;
}

.container {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;

}