
.hero_1 {
    height: 700px;
    color: var(--light-font-color);
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 8rem 0rem;
}

#hero_header_container {
    width: 422px;
    height: 357px;
    text-align: center;
}
#hero_header_container > span{
    font-size: 350%;
    font-weight: 400;
}

.hero_image_container {
    width: 670px;
    height: 480px;
    background-color: white;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid black;
    border-bottom: none;
    
}

.hero_image_container_indicator {
    height: 12px;
    width: 12px;
    border: 1px solid black;
    border-radius: 100vw;
}

.hero_2 {
    height: 700px;
    color: var(--light-font-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
    background-color: #f2f2f2;
    font-size: smaller;
}

#hero_header_container {
    /* background-color: red; */
    width: 787px;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    margin-top: 3rem;
}

#hero_header_container p {
    width: 406px;
    margin: 0px auto;
}

#hero_header_container button {
    margin: 0px auto;
}

.hero_3 {
    background-color: #f2f2f2;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 1rem;
}

.hero_3 h1 {
    font-weight: 300;
    margin-bottom: 5rem;
    font-size: 3rem;
}

.hero_3 p {
    width: 347px;
    text-align: center;
}